[submodule "3rdparty/uri-parser"]
	path = 3rdparty/uri-parser
    url = https://github.com/CovenantEyes/uri-parser.git
[submodule "3rdparty/base64"]
	path = 3rdparty/base64
    url = https://github.com/tkislan/base64.git
[submodule "tests/dessert"]
	path = tests/dessert
	url = https://github.com/r-lyeh/dessert.git
[submodule "afunix_polyfill"]
	path = 3rdparty/afunix_polyfill
	url = https://github.com/aep/afunix_polyfill.git
[submodule "htmlstream"]
	path = 3rdparty/htmlstream
	url = https://github.com/aep/htmlstream.git
[submodule "http-parser"]
	path = http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "3rdparty/http-parser"]
	path = 3rdparty/http-parser
	url = https://github.com/nodejs/http-parser.git
